#main{
	position: absolute;
	left:45%;
	top:0;
	font-size:40px;
}
#clear{
	position: absolute;
	left:40%;
	top:10%;
	width: 75px;
	height: 25px;
	cursor: pointer;
}
#start{
	position: absolute;
	left:55%;
	top:10%;
	width: 75px;
	height: 25px;
	cursor: pointer;
}
#stop{
	position: absolute;
	left:55%;
	top:10%;
	width: 75px;
	height: 25px;
	cursor: pointer;	
}
.container{
	width: 400px;
	height: 400px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: 6;

}
.watch{
	width: 100%;
	height: 100%;
	z-index: 7;
	transform: rotate(-1.9deg)

}
.seconds {
  background: red;
  height: 46%;
  left: 50%;
  position: absolute;
  top: 5%;
  transform-origin: 50% 99%;
  width: 0.3%;
  z-index: 8;
}

.minutes {
  background: #000;
  height: 46%;
  left: 49.7%;
  position: absolute;
  top: 5%;
  transform-origin: 50% 100%;
  width: 1%;
  z-index: 7;
}

.milisecondes{
    background: green;
    height: 14%;
    left: 50%;
    position: absolute;
    top: 61.5%;
    transform-origin: 50% 100%;
    width: 0.3%;
    z-index: 9;
    transform: rotate(0.8deg);
}